input, select {
 width: 100%;
 padding: 24px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

input[type=submit] {
 text-align: center;
 width: 100%;
 background-color: #4CAF50;
 color: white;
 padding: 33px 20px;
 margin: 8px 0;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

input[type=submit]:hover {
 background-color: #45a049;
}

.product{
 width: 100%;
 grid-template-columns: 380px 150px 150px;
 display: grid;
 margin:0;
}


