div {
 width: 100%;
}

table{
 width: 100%;
}
tr:nth-child(even) {
 background-color: #f2f2f2;
}

a {
 text-decoration: none;
 padding: 0.5em;
}

button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0.5em;
}