.login-wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
}

button {
 cursor: pointer;
 border: 0;
 border-radius: 4px;
 font-weight: 600;
 margin: 5px 10px;
 width: 200px;
 padding: 10px 0;
 box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
 transition: 0.4s;
}

button:hover {
 color: white;

 box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
 background-color: rgba(104, 85, 224, 1);
}

.log {
 color: rgb(104, 85, 224);
 background-color: rgba(255, 255, 255, 1);
 border: 1px solid rgba(104, 85, 224, 1);
}

input { 
 border-radius: 4px;
 height: 1.5em;
 background-color: rgba(255, 255, 255, 1);
 border: 1px solid rgb(0, 0, 0);
}